.post__wrapper {
  display: flex;
  align-items: flex-start;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
.post__avatar {
  padding: 10px;
}
.post__image {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}
.post__verifiedbadge {
  font-size: 15px !important;
  color: #3999da;
}
.post__username {
  padding-left: 5px;
  font-size: 12px;
  color: #fff;
}
.post__header {
  padding-top: 10px;

  position: relative;
}
.post__displayname > h3 {
  font-size: 20px;
  font-weight: 500;
}
.post__footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.MuiSvgIcon-fontSizeSmall {
  color: rgb(81, 82, 83);
  cursor: pointer;
}
.post__deleteIcon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.post__body {
  width: 100%;
}
.post__description {
  padding: 10px 10px 10px 0px;
  letter-spacing: 1px;
}
.post__image {
  max-width: 100%;
  max-height: 350px;
  object-position: center;
}
