.sidebar__options {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.3s;
}

.sidebar__options > .MuiSvgIcon-root {
  margin: 15px;
  color: #fff;
}
.sidebar__options > h2 {
  font-weight: 400;
  font-size: 20px;
  padding: 0 10px;
  color: #2a2929;
}
.sidebar__options:hover {
  color: #1d9bf0;
  background-color: black;
}
@media (max-width: 900px) {
  .sidebar__options > h2 {
    font-size: 16px;
    padding: 0 8px;
    color: #2a2929;
  }
}
@media (max-width: 790px) {
  .sidebar__options > .MuiSvgIcon-root {
    margin: 10px;
  }
  .sidebar__options > h2 {
    margin-left: -5px !important;
  }
}
@media (max-width: 700px) {
  .sidebar__options > h2 {
    display: none;
  }
  .sidebar__options > .MuiSvgIcon-root {
    margin-left: 50%;
  }
}
@media (max-width: 480px) {
  .sidebar__options > .MuiSvgIcon-root {
    margin: 14px !important;
  }
}
