.notification_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.notif_header > h1 {
  padding: 10px;
  border-bottom: 1px solid rgb(233, 232, 232);
}
.notification_header > h2 {
  font-size: 30px;
}
