* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container__main {
  display: flex;
}

.container__left {
  flex: 0.2;
}

.container__middle {
  flex: 0.8;
  display: flex;
  height: 100vh;
  /* overflow-y: auto;
  -ms-overflow-style: none; 
  scrollbar-width: none;  */
}
/* .container__middle::-webkit-scrollbar {
  display: none;
} */
.container__feed {
  flex: 0.7;
  border-left: 1px solid rgb(233, 232, 232);
  border-right: 1px solid rgb(233, 232, 232);
}
.container__right {
  flex: 0.3;
}
